{% extends "layout.html" %}

{% block content %}
<div class="flex flex-col">
    <div class="w-[100vw] h-[100vh]" id='cropRec'>
        <div class="flex justify-center items-center h-full"> <!-- Centering container -->
            <div class="form_box">
                <p class="text-lg font-bold">Enter Details</p>
                <form id="cropForm" method="POST" class="grid-container" >
                    {% csrf_token %}
                    <div class="grid-item">
                        <label for='nitrogen'>Nitrogen</label>
                        <input type="text" id="nitrogen" name="nitrogen" class="input_field">
                    </div>
                    <div class="grid-item">
                        <label for='phosphorous'>Phosphorous</label>
                        <input type="text" id="phosphorous" name="phosphorous" class="input_field">
                    </div>
                    <div class="grid-item">
                        <label for='potassium'>Potassium</label>
                        <input type="text" id="potassium" name="potassium" class="input_field">
                    </div>
                    <div class="grid-item">
                        <label for='phlevel'>pH Level</label>
                        <input type="text" id="phlevel" name="phlevel" class="input_field">
                    </div>
                    <div class="grid-item">
                        <label for='temperature'>Temperature</label>
                        <input type="text" id="temperature" name="temperature" class="input_field">
                    </div>
                    <div class="grid-item">
                        <label for='humidity'>Humidity</label>
                        <input type="text" id="humidity" name="humidity" class="input_field">
                    </div>
                    <div class="grid-item">
                        <label for='rainfall'>Rainfall</label>
                        <input type="text" id="rainfall" name="rainfall" class="input_field">
                    </div>
                    <div>

                    </div>
                    <button onclick="getLocation()" class='loc-button'>Grant Location access</button>
                    <button class='loc-button' type="submit">Submit</button>
                </form>

                {% if error_message %}
                <p class="text-lg font-bold mt-4 text-red-600">Error: {{ error_message }}</p>
                {% endif %}

                {% if predicted_crop %}
                <p class="text-lg font-bold mt-4">Recommended Crop: {{ predicted_crop }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
